h1{
  color: brown;
  font-family: PremierSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:160%;
}
{
    box-sizing: border-box;
}

html {
    box-sizing: border-box;

}

body
{    box-sizing: border-box;

}
{
    display: block;
    margin: 8px;
}
h2{
  colour:white;
  box-sizing: border-box;
    font-family: PremierSans-Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:120%;

}
img{ height: auto;
     width: auto;
     float: left;
}
div{
   padding-right: 
}
